@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans KR', sans-serif; 
}

/* NAVBAR */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
}
.container.active{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .navbar{
    max-width: 1100px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #e4e4e4;
    cursor: pointer;
}

.logo:hover{
    color: #fff;
}
.navbarNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.items{
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    color: #e4e4e4;
}
.items:hover{
    color: #fff;
}
.logo.active, .items.active{
    color: #453a33;
}
.items.active:hover, .logo.active:hover{
    color: #F4623A;
}
.upIcon{
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    filter: invert(40%);
    cursor: pointer;
}
.hamburger, .itemBox{
    display: none;
}
.corusel{
    height: 650px;
    width: 480px;
    background: #242323;
}
.coruselImg{
    margin: 0;
    height: 620px;
    width: 480px;
    text-align: center;
}
    /* RESPONSE DESIGN */
@media screen and (max-width: 820px) {
  .navbarNav{
    display: none;
  }
  .container{
    padding: 0 30px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .logo{
    color: #453a33;
  }
  .logo:hover{color: #F4623A;}
  .hamburger{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 55px;
    height: 50px;
    padding: 8px;
  }
  .hamburger.active{
    background-color: #f5f5f5;
  }
  .itemBox{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -100%;
    left: 0;
    z-index: 3;
    background: #fff;
    padding:20px 0 20px 32px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.itemBox.active{
    transition: all 0.3s;
    top: 70px;
  }
  .items{
    color: #6c757d;
    font-size: 1rem; 
    font-weight: 500;
    padding: 0;
    margin-bottom: 15px;
  }
  .items:hover{
    color:#F4623A;
  }
}